package main

import (
	"os"
	"strconv"
	"fmt"
)


func main() {

	x := make([]float64, 0)

	for _, arg := range os.Args[1:] {
		if n, err := strconv.ParseFloat(arg, 64); err == nil {
			x = append(x, n)
		}
	}
	prediction := Predict(x)
	fmt.Printf("%v", prediction)
}
