package {package_name}


func {method_name} (features []{float_type}) [{n_classes}]{float_type} {{
	var distribution [{n_classes}]{float_type}
	sum := {float_type}(0)
	{method_calls}
	for i, _ := range distribution {{
		distribution[i] /= sum
	}}
	return distribution
}}