package {package_name}

func {method_name}{method_index}(features []float64) [{n_classes}]float64 {{
	var predictions [{n_classes}]float64
	{tree}
	var treeDistribution [{n_classes}]float64
	sum := float64(0)
	for i, v := range predictions {{
		sum += v
		treeDistribution[i] = v
	}}
	for i := range treeDistribution {{
		treeDistribution[i] = predictions[i] / sum
	}}
	return treeDistribution
}}
