package {package_name}

func {method_name}{method_index}(features []{float_type}) [{n_classes}]{float_type} {{
	var predictions [{n_classes}]{float_type}
	{tree}
	var treeDistribution [{n_classes}]{float_type}
	sum := {float_type}(0)
	for i, v := range predictions {{
		sum += v
		treeDistribution[i] = v
	}}
	for i := range treeDistribution {{
		treeDistribution[i] = predictions[i] / sum
	}}
	return treeDistribution
}}
