package {package_name}

import (
    "math"
)


func {method_name}(features []{float_type}) [2]{float_type} {{
    sum := {float_type}(math.Log({base_score}))
    {method_calls}
    proba := {float_type}(1) / ({float_type}(1) + {float_type}(math.Exp(float64(sum))))
	distribution := [2]{float_type}{{proba, {float_type}(1) - proba}}
    return distribution
}}