package {package_name}

import (
    "math"
)


func {method_name}(features []float64) [2]float64 {{
    sum := math.Log({base_score})
    {method_calls}
    proba := 1.0 / (1.0 + math.Exp(sum))
	distribution := [2]float64{{proba, 1.0 - proba}}
    return distribution
}}